.container_reset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-top: 6%;
}

.reset_password_subtitle {
    text-align: left;
    font-size: 14px;
}

.reset_form_container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 70%;
    text-align: center;
    padding-top: 10%;
}


.reset_form_content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title_input {
    text-align: left;
    font-weight: 600;
}

.block_input {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 3% 2%;
}

.block_input::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #dbe5e5;
    border-radius: 10px;
    pointer-events: none;
}

.block_input:focus-within::before {
    border: 2px solid rgb(7, 78, 192);
}

.input_image {
    width: 20px;
}

.input_styles {
    border: none;
    outline: none;
    width: 100%;
}

.send_reset_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.button_reset {
    color: #FFFFFF;
    background-color: rgb(7, 78, 192);
    border: none;
    border-radius: 4px;
    padding: 3% 0%;
    cursor: pointer;
}

.terms {
    color: gray;
    font-size: 12px;
}

.terms_links {
    font-size: 12px;
    color: rgb(7, 78, 192);
    text-decoration: underline;
    padding-left: 1px;
    cursor: pointer;
}