.container_mission {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}

.content_mission {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title_mission {
    font-size: 19px;
}

.text_mission {
    text-align: justify;
}


@media (max-width: 425px) {
    .content_mission {
        width: 90%;
    }

    .title_mission {
        font-size: 16px;
    }

    .text_mission {
        font-size: 14px;
    }
}
