.cardside_container {
    width: 100%;
    padding: 1% 0% 0% 1%;
}

.container_images {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container_banner {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-image: url('../../assets/carros-de-luxo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.texts_banner {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #fff;
    bottom: 32%;
    left: 40%;
    gap: 8px;
}

.title_banner {
    font-size: 27px;
    font-weight: 900;
}

.subTitle_banner {
    font-size: 23px;
    font-weight: 600;
}

.text_subtitle_banner {
    font-size: 16px;
}