.container_banner {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-image: url('../../assets/carros-de-luxo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.texts_banner {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #fff;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    gap: 8px;
}

.title_banner {
    font-size: 3vw;
    font-weight: 900;
}

.subTitle_banner {
    font-size: 2.5vw;
    font-weight: 600;
}

.text_subtitle_banner {
    font-size: 1.5vw;
}


@media (max-width: 768px) {
    .texts_banner {
        bottom: 25%;
    }

    .title_banner {
        font-size: 4vw;
    }

    .subTitle_banner {
        font-size: 3vw;
    }

    .text_subtitle_banner {
        font-size: 2vw;
    }
}

@media (max-width: 480px) {

    .container_banner {
        position: relative;
        height: 75vh;
        overflow: hidden;
        background-image: url('../../assets/carros-de-luxo.jpg');
        background-size: auto; 
    }

    .texts_banner {
        bottom: 25%;
    }

    .title_banner {
        font-size: 4vw;
    }

    .subTitle_banner {
        font-size: 3.5vw;
    }

    .text_subtitle_banner {
        font-size: 2.5vw;
    }
}
